<footer class="site-footer" id="footer">
   © 2016 bests|Bikes Cody Locklear<br>
   <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
   </footer>

  