<div class="main">
  <h1>The Story behind Bests|Bikes</h1>
  <div class="container ">
      <div class="col-md-12">
        <% cache do %>
        <h2>About us</h2>
        <p>We started our business because we were tired of the expensive bikes and gear that was over price for no reason, so we are offering customers the best cycling gear at the best prices. </p>
        <p>We wanted to make your experience easy, fast and afforable on your pockets. So we created this app just for you.</p>
        <% end %>
      </div>
    </div>
</div>