<div id="contact" class="cool container-fluid" data-stellar-background-ratio="0.2">
        <div class="row">
          <div class="col-md-6">
            <h1>
              Cody Locklear
             </h1>
             <p class="paragraph">Thank you for visting our site, lets us know if you need any help.</p>
              <h2>Contact</h2>
            <ul id="view"> 
             <li><span class="glyphicon glyphicon-phone ">704-333-3829</span><br></li>
          
            <li> <span class="glyphicon glyphicon-envelope">codylocklear82@gmail.com</span><br></li>
              
             <li> <span class="glyphicon glyphicon-map-marker">Charlotte, Nc</span></li>

</div>        

        <div class="col-md-6">
          <form action="/login" method="post" name="login">
            <input type="hidden" name="form-name" value="form 1">
            <div class="form-group">
              <label for="name">Name</label>

              <input type="text" class="form-control" name="name" id="name" placeholder="*name" required="required"/>
            
              <label for="Email"> Email Address</label>

              <input type="text" class="form-control" name="email" id="email" required="required" placeholder="*address@gmail.com" />
        
              <label for="Text">Message</label>

              <textarea style="resize:none" id="message" class="message-box form-control" placeholder="Hello say Hi" cols="40" rows="5" maxlength="100" required="required"></textarea>
              <p id="visible-comment"></p>
              <p id="char-count"></p>
              <p id="char-limit"></p>
              <button type="submit" id="button" class="btn btn-default">Submit</button>
            </div>
          </form>
        </div> 
</div>
</div>