<div class="jumbotron">
  <h1>Welcome to Best | Bikes</h1>
  <p>Welcome to our Home of the best bikes around the world. Your source for the best bikes are in charlotte Nc.</p>
</div>

<div class="container">
    <div class="homepic">
        <%= image_tag("racebike.jpg", class: "img-responsive", class:"img-thumbnail") %>
    </div>
</div>
