<!-- <section class="main">
    
<section class="index">


  <h1>Inventory</h1>
    <div class="container">
       <div class="col-sm-2 col-md-3">
    <br>
    <h2>White glide</h2>
   <img class="img-responsive img-rounded" src="http://d1wc4wr5u7ujb9.cloudfront.net/wp-content/uploads/2014/06/2014-Kestrel-4000-Shimano-105-Matte-Silver-Carbon-Fiber-Road-Bike-Bicycle-0-300x300.jpg" alt="Bike1">
    <h3>$100.00</h3>
    <a href="/products/3">Show</a>
    <a href="/products/3/edit">Edit</a>
    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/products/3">Destroy</a>
  </div> 
  <div class="col-sm-2 col-md-3">
    <br>
    <h2>Trick Bike</h2>
    <img class="img-responsive img-rounded" src="https://islandhoppersrentals.com/wp-content/uploads/2016/04/20-inch-kids-rental-bike-300x300.jpg" alt="Bike1">
    <h3>$160.00</h3>
    <a href="/products/17">Show</a>
    <a href="/products/17/edit">Edit</a>
    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/products/17">Destroy</a>
    <br>
  </div> col-sm-2 col-md-3
  <div class="col-sm-2 col-md-3">
    <br>
    <h2>Classic baby</h2>
    <img class="img-responsive img-rounded" src="http://columbiabicycles.com/wp-content/uploads/2016/07/0009_mens-relay-300x300.jpg" alt="Bike1">
    <h3>$300.00</h3>
    <a href="/products/11">Show</a>
    <a href="/products/11/edit">Edit</a>
    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/products/11">Destroy</a>
    <br>
  </div> 
  <div class="col-sm-2 col-md-3">
    <br>
    <h2>Mountain bike</h2>
    <img class="img-responsive img-rounded" src="https://s-media-cache-ak0.pinimg.com/564x/8a/7a/04/8a7a04dbc31ea5962644770306bd31ba.jpg" alt="4">
    <h3>$130.00</h3>
    <a href="/products/18">Show</a>
    <a href="/products/18/edit">Edit</a>
    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/products/18">Destroy</a>
    
  </div> <! col-sm-2 col-md-3 -->
  </div> <!-- col-sm-2 col-md-3 -->
    </div><!-- container -->
  </section>
  </section>
 -->