<div class="col-xs-12 col-md-12">
	<div class="header"><h1>Featured Product today</h1></div>

	<%= @featured_product.name %>
	<%= image_tag(product.image_url)%>
	
	<h2>The world’s best bikes come only from the world’s best bicycle company. Every bike is built to enhance the quality of your ride, and every model is backed by our history of performance, durability, and precision engineering. Find your next great ride here from our comprehensive offering of trail-shredding mountain bikes, lightning-quick road bikes, and stylish city bikes.</h2>

	</div>
	

