body{
  background-color:#C0392B;
}

 /*Navbar*/
 .navbar{
  background-color:white;
 }

/*Navbar ends*/

 /*Jumbotron*/
.jumbotron{
  color:black;
  font-size:6em;
  text-align:center;
  font-family:Georgia, Times, "Times New Roman", serif;
  background-color:white;
}

.homepic{
  text-align:center;
  padding right:15px;
}
/*Jumbotron ends*/

/*about page*/
.main h1{
 text-align:center;
 color:white;
 font-family:Georgia, Times, "Times New Roman", serif;
}

.col-md-12 p{
 font-family:Georgia, Times, "Times New Roman", serif;
 font-size:1.4em;
 color:black;
}

.col-md-12 h2{
 font-family:Georgia, Times, "Times New Roman", serif;
 font-size:1.6em;
 color:white;
}
/*about page ends*/

/*contact page*/
.col-md-6 h1,h2{
 font-family:Georgia, Times, "Times New Roman", serif;
 font-size:2.0em;
 color:white;
}


.paragraph{
 font-family:Georgia, Times, "Times New Roman", serif;
 font-size:1.5em;
 color:black;
}

.form-group label{
 font-family:Georgia, Times, "Times New Roman", serif;
 font-size:1.0em;
 color:white;
}

#contact span{
  font-style:Georgia, Times, "Times New Roman", serif; 
  font-size:1.2em;
  color:white;
}

/*contact page ends*/

/*inventory*/
.col-sm-2 h2{
  color:white;
  font-family:Georgia, Times, "Times New Roman", serif;
  font-size:1.2em;
  text-align:center;
}

.container a{
  color:white;
  padding-left:30px;
  font-style:Georgia, Times, "Times New Roman", serif;
  font-weight:bold;
}

.col-sm-2 h3{
  color:white;
  text-align:center;
}
/*inventory ends*/

/*order page*/
.form-horizontal h1,p{
 font-family:Georgia, Times, "Times New Roman", serif;
 font-size:1.5em;
 color:white;
 padding-left:50px;
}

.control-group{
 padding-left:50px;
}

.form-actions{
  padding-left:50px;
}
/*order ends*/

/*footer*/
#footer{
  text-align:center;
}
/*footer ends*/