body{
  background-color:white;
  /*font-family:Georgia, Times, "Times New Roman", serif;*/
}

 /*Navbar*/
 .navbar{
  background-color:white;
 }

/*Navbar ends*/

 /*Jumbotron*/
.jumbotron{
  color:black;
  font-size:6em;
  text-align:center;
  background-color:white;
}

.homepic{
  text-align:center;
  padding-right:15px;
}
/*Jumbotron ends*/

/*about page*/
.main h1{
 text-align:center;
 color:black;
}

.col-md-12 p{
 font-size:1.4em;
 color:black;
}

.col-md-12 h2{
}
/*about page ends*/

/*contact page*/
.col-md-6 h1,h2{
 font-size:2.0em;
}


.paragraph{
 font-size:1.5em;
 color:black;
}

.form-group label{
 font-size:1.0em;
}

#contact span{
  font-size:1.2em;
}

/*contact page ends*/

/*product*/
/*product ends*/

/*order*/
.col-md-12{
  text-align:center;
}
.col-md-12 {

}
/*order page ends*/